.button {
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  background-color: #5e24e6;
  /* background: #6cb0e9; */
  /* color: #9bc2d7; */
}

.button:hover {
  cursor: pointer;
}
