.hero {
  background: #362159;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-shadow: 0.03em 0.03em 0.05em;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: aliceblue;
}

h1 {
  animation-name: main;
  animation-duration: 5s;
  animation-timing-function: ease-in;
}

@keyframes main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h3 {
  animation-name: main1;
  animation-duration: 7s;
  animation-timing-function: ease-in;
}

@keyframes main1 {
  0% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

h5 {
  animation-name: main2;
  animation-duration: 9s;
  animation-timing-function: ease-in;
}

@keyframes main2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
