.contact{
    background-color: rgb(139, 60, 60);
    color: rgb(253, 246, 231);
    padding: 2rem;
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.contacts{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;

}

.contacts div{
    flex: 1;
}